[submodule "interfaces"]
	path = interfaces
	url = https://github.com/ledgerwatch/interfaces
[submodule "silkrpc/croaring"]
	path = silkrpc/croaring
	url = https://github.com/lemire/CRoaringUnityBuild
[submodule "silkworm"]
	path = silkworm
	url = git@github.com:eosnetworkfoundation/silkworm
[submodule "contract/external/ethash"]
	path = contract/external/ethash
	url = git@github.com:eosnetworkfoundation/ethash
[submodule "contract/external/intx"]
	path = contract/external/intx
	url = https://github.com/chfast/intx
[submodule "contract/external/nlohmann_json"]
	path = contract/external/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "contract/external/GSL"]
	path = contract/external/GSL
	url = https://github.com/microsoft/GSL
[submodule "external/appbase"]
	path = external/appbase
	url = https://github.com/AntelopeIO/appbase
[submodule "external/abieos"]
	path = external/abieos
	url = https://github.com/AntelopeIO/abieos
[submodule "contract/tests/external/abseil"]
	path = contract/tests/external/abseil
	url = https://github.com/abseil/abseil-cpp
