[submodule "silkworm"]
	path = silkworm
	url = https://github.com/eosnetworkfoundation/silkworm
[submodule "external/expected"]
	path = external/expected
	url = https://github.com/TartanLlama/expected
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/microsoft/GSL
[submodule "tests/external/abseil"]
	path = tests/external/abseil
	url = https://github.com/abseil/abseil-cpp
[submodule "tests/external/ethash"]
	path = tests/external/ethash
	url = https://github.com/eosnetworkfoundation/ethash
[submodule "tests/external/intx"]
	path = tests/external/intx
	url = https://github.com/chfast/intx
[submodule "tests/external/evmone"]
	path = tests/external/evmone
	url = https://github.com/eosnetworkfoundation/evmone
[submodule "tests/external/secp256k1"]
	path = tests/external/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
