# archives
*.7z
*.iso
*.rar
*.tar
*.tar.gz
*.tgz
*.zip

# build artifacts
build
cmake-build-debug

# compiled dynamic libraries
*.dll
*.dylib
*.so

# compiled object files
*.lo
*.o
*.obj
*.slo

# compiled static libraries
*.a
*.la
*.lai
*.lib

# data
*.csv
*.db
*.dbf
*.fods
*.html
*.json
*.ods
*.ots
*.tsv
*.uos
*.xhtml
*.xls
*.xlsm
*.xlsx
*.xlt
*.xltx
*.xml

# editor files
.ccls-cache
.idea
*.vim
.vscode

# executables
*.apk
*.app
*.AppImage
*.com
*.deb
*.dll
*.dmg
*.exe
*.jar
*.msi
*.out
*.rpm

# logs
*.log
*.txt

# macOS
.DS_Store

# precompiled headers
*.gch
*.pch

# prerequisites
*.d

# python
__pycache__
.mypy_cache
