[submodule "silkworm"]
	path = silkworm
	url = https://github.com/torquem-ch/silkworm
[submodule "interfaces"]
	path = interfaces
	url = https://github.com/ledgerwatch/interfaces
[submodule "silkrpc/croaring"]
	path = silkrpc/croaring
	url = https://github.com/lemire/CRoaringUnityBuild
[submodule "external/mandel-fc"]
	path = external/mandel-fc
	url = https://github.com/eosnetworkfoundation/mandel-fc
[submodule "external/mandel-appbase"]
	path = external/mandel-appbase
	url = https://github.com/eosnetworkfoundation/mandel-appbase
[submodule "external/mandel-abieos"]
	path = external/mandel-abieos
	url = https://github.com/eosnetworkfoundation/mandel-abieos
